<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="boardingpass.css">

</head>

<body>
  <div class="box">
    <div class="ticket">
      <span class="airline">Javier Way</span>
      <span class="boarding">BOARDING PASS</span>
      <div class="content">

        <span class="jfk">JFK</span>
        <span class="plane">
          <?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60"
            image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
            viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
            <g stroke="#222">
              <line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390" />
              <path
                d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
                fill="#222" stroke-linejoin="round" stroke-width="10" />
            </g>
          </svg>
        </span>
        <span class="yyz">YYZ</span>


        <div class="sub-content">
          <span class="name">PASSENGER NAME: <span id="passenger-name"></span></span>
          <span class="departure-date">DEPARTURE DATE: <span id="departure-date"></span></span>
          <span class="round-trip">ROUND TRIP: <span id="round-trip"></span></span>

        </div>
      </div>
    </div>
  </div>
  <script>
    // Retrieve stored values from localStorage
    var fname = localStorage.getItem("fname");
    var lname = localStorage.getItem("lname");
    var departureDate = localStorage.getItem("departureDate");
    var roundTrip = localStorage.getItem("roundTrip");

    // Display retrieved values on the page
    document.getElementById("passenger-name").textContent = fname + " " + lname;
    document.getElementById("departure-date").textContent = departureDate;
    document.getElementById("round-trip").textContent = roundTrip ? "Yes" : "No";
  </script>
</body>

</html>