html {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

/* CSS for the navigation bar */

/* CSS for the navigation bar */

#navBar{
  box-shadow: 0 1.5rem 3rem -0.1rem hsla(0, 0%, 0%, 0.25);
  background-color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav a {
  color: blueviolet;
  position: relative;
  font-size: 1.1em;
  background:  blueviolet;
  -webkit-background-clip: text; 
  text-decoration: none;
  padding: 6px 20px;
  transition: .5s; 
  opacity: 1; /* 100% opacity should be represented as 1 */
}

nav a img{
  max-height: 1.1em;
}

nav a:hover {
  color: #cca0e4;
}

nav a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 4px solid #ee00ff;
  border-radius: 25px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}

nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

/* CSS For the content */

#content-box{
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  margin-top: 5vh;
  padding-bottom: 10vh;

}

.heading {
  text-align: left;
  padding-bottom: 15px;
  color: #2F3D47;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  font-size: 50px;
  font-weight: normal;

}

.airport-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
  padding-bottom: 10vh;
}

.box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}


.box img {
  height: 250px;
  width: 250px;
}

.box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.btn:hover {
  letter-spacing: 1px;
}

.box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  transform: scale(1.03);
}

#flight-box{
  padding-top: 2vh;
  background-color: lightgrey;
  border-radius: 10px;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  padding-bottom: 2vh;

}

.airport-flights{
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 5vh;
  padding-top: 1.5vh;
  padding-bottom:1.5vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw
  
}

.flight-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1.5vw

}

.flight-img {
  height: 250px;
  width: 250px;

}

.flight-heading{
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.flight-right{
  color: #2F3D47;

}

.flight-right p {
  font-size: 45px;
}

@media (max-width:768px) {
  .content-box {
    padding: 20px;
  }
}