<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="ticketstyle.css" />
  <title>Ticket</title>


</head>

<body>
  <nav>
    <a href="index.html">Home<span>Home</span></a>
    <a href="#">Services<span>Services</span></a>
    <a href="#">FAQ<span>FAQ</span></a>
  </nav>
  <h1 class="heading">Please fill in Information for your ticket.</h1>
  <div class="container" id="container">
    <div class="form-container pinfo-container">
      <form id="personal-info-form" action="#">
        <input type="text" id="fname" placeholder="First Name" />
        <input type="text" id="lname" placeholder="Last Name" />
        <a href="boardingpass.html" class="btn">Submit</a>

      </form>
    </div>
    <div class="form-container finfo-container">
      <form action="#">
        <h1 id="head">Flight Details</h1>
        <input type="date" placeholder="Depeature Date" />
        <h3>Round Trip</h3>
        <input type="checkbox" placeholder="Round Trip" />
        <button>
          << </button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Next part of your Booking</h1>
          <p>
            Please fill in your personal info for your ticket.
          </p>
          <button class="btn" id="back">back</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Personal Information</h1>
          <p>Enter your personal details to finish booking</p>
          <button class="btn" id="pinfo">></button>
        </div>
      </div>
    </div>
  </div>
  <script src="ticket.js"></script>
</body>

</html>