<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="cityPages.css">

</head>

<body>

  <nav id="navBar">
    <a href="index.html"><img src="image/tickets.png"/></a>
    <a href="index.html">Home<span>Home</span></a>
    <a href="#">Services<span>Services</span></a>
    <a href="#">FAQ<span>FAQ</span></a>
  </nav>

  <div id="infoBox">

    <div id="image">
      <div class="slider-wrapper">
        <div class="slider">
          <img id="slide-1" src="image/yyz.jpg">
          <img id="slide-2" src="image/yyz2.jpg">
          <img id="slide-3" src="image/yyz3.jpg">
          <img id="slide-4" src="image/yyz4.jpg">

          <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>

          </div>
        </div>
      </div>
    </div>

    <div id="content">
      <div id="content-left">
        <div class="title">
          <h2 class="heading">Toronto</h2>
          <h2 class="heading">City in Ontario, Canada</h2>
        </div>

        <div id="text">
          <h3>
            Toronto beckons with its alluring combination of renowned sites, gorgeous scenery, and active culture, making it
            a must-visit location for every traveler looking for an exceptional experience. 
          </h3>
        </div>

        <div id="popular">
          <h2 class="title">Popular Locations</h2>

          <div id="popular-split">

            <div id="popular-left">
              <div class="img-text-line">
                <img src="image/location.png" alt="location image"/>
                <p class="items">C.N. Tower</p>
              </div>

              <div class="img-text-line">
                <img src="image/location.png" alt="location image"/>
                <p class="items">Rogers Center</p>
              </div>
              
            </div>
  
            <div id="popular-left">

              <div class="img-text-line">
                <img src="image/location.png" alt="location image"/>
                <p class="items">Toronto's Waterfront</p>
              </div>

              <div class="img-text-line">
                <img src="image/location.png" alt="location image"/>
                <p class="items">Niagara falls</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="content-right">

        <div class="dropdown">
          <h3>Book Now!</h3>
    
          <button onclick="myFunction()" class="dropbtn">Select your Origin</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="ticket.html">Colorado</a>
            <a href="ticket.html">Los Angeles</a>
            <a href="ticket.html">New York</a>
          </div>
    
          <script src="ticket.js"></script>
    
        </div>

        <div id="country-infor">
          <div class="img-text-line">
            <img src="image/countries.png" alt="Country"/>
            <p class="items">Canada</p>
          </div>

          <div class="img-text-line">
            <img src="image/dollar.png" alt="currency"/>
            <p class="items">$CAD</p>
          </div>

          <div class="img-text-line">
            <img src="image/clock.png" alt="timezone"/>
            <p class="items">EDT</p>
          </div>

          <div class="img-text-line">
            <img src="image/plane.png" alt="airport"/>
            <p class="items">Toronto Pearson International Airport (YYZ)</p>
          </div>
        </div>


      </div>

    </div>


  </div>
</body>